.about{
    padding:40px;
    height: 100%;
    color: white;
    background-color: #111;
   
      .about-container{
        display: flex;
        flex-wrap: wrap;
       
        // margin: 0 auto;   
         .container-content{
            margin-right:20px;
             flex: 0.7;
            p{
                font-weight: 700;
            }
            h1{
                padding: 15px 0 10px 0;
            }
            .stripe{
                height: 2px;
                width: 80px;
                background-color: #444;
            }
            .description{
                margin-top: 30px;
                color: #999;
                p{
                    text-align: left;
                    font-size: 18px;
                    font-weight: 400;
                     margin-bottom: 20px;
                }
                
            }
         }
       

         .container-img{
           display: flex;
            flex: 0.3;
            max-height: 500px;
            max-width: 450px;
            img{
               height: 100%;
                width: 100%;
                filter: grayscale(20%);
                border-radius: 5px;
            }
        }
     }   
       
}


@media screen and (max-width:775px) {
    .about{
        padding:20px;
    .about-container{  
        flex-direction: column;

        .container-img{
            height: 100%;
            max-width: 250px;
            margin: auto;
            img{
                height: 100%;
                width: 100%;
            }
        }
}
}
}
